body{ background: #B3E680; } b{ text-transform: uppercase; } p{padding: 0px; } section, header, nav{width: 1024px; margin: 0 auto; } header{background: #246000; color: white; opacity: .3; padding: 5px; text-align: center; text-shadow: 3px 3px 10px rgba(255, 255, 255, .8); } header h1{opacity: 1 !important; } nav{background: #E5FFB2; margin: 0 auto; opacity: .8; padding: 5px; } nav .radio{border: 2px solid #669933; display: inline-block; padding: 3px 10px; } .radio:hover{background: #4D801A; color: #eee; } nav .seleccione{background: #1A4D00; border: 5px double #eee; color: #eee; } article{background: #80B34D; display: inline-block; height: 150px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 1024px; } .usuario, .maquina, .ganador{height: 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 20px; line-height: 30px; padding: 5px; text-align: center; } .usuario:hover, .maquina:hover, .ganador:hover{opacity: 1; } .usuario, .maquina{border-bottom: 1px solid #ddd; opacity: .4; } .ganador{background: #BA658E; color: #fff; width: 100%; } button{background: #669933; border-radius: 10px; color: #eee; float: right; padding: 3px 20px; } button:hover{ opacity: .7; }

/*body{ background: #B3E680; }
b{ text-transform: uppercase; }
p{padding: 0px; }


section, header, nav{
	width: 1024px;
	margin: 0 auto;
}

header{
	background: #246000;
	color: white;
	opacity: .3;
	padding: 5px;
	text-align: center;
	text-shadow: 3px 3px 10px rgba(255, 255, 255, .8);
}
	header h1{
		opacity: 1 !important;
	}

nav{
	background: #E5FFB2;
	margin: 0 auto;
	opacity: .8;
	padding: 5px;
}
	nav .radio{
		border: 2px solid #669933;
		display: inline-block;
		padding: 3px 10px;
	}
		.radio:hover{
			background: #4D801A;
			color: #eee;
		}
	nav .seleccione{
		background: #1A4D00;
		border: 5px double #eee;
		color: #eee;
	}

article{
	background: #80B34D;
	display: inline-block;
	height: 150px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 1024px;
}
	.usuario, .maquina, .ganador{
		height: 50px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 20px;
		line-height: 30px;
		padding: 5px;
		text-align: center;
	}
		.usuario:hover, .maquina:hover, .ganador:hover{
			opacity: 1;
		}
	.usuario, .maquina{
		border-bottom: 1px solid #ddd;
		opacity: .4;
	}
	.ganador{
		background: #BA658E;
		color: #fff;
		width: 100%;
	}

button{
	background: #669933;
	border-radius: 10px;
	color: #eee;
	float: right;
	padding: 3px 20px;
}
	button:hover{ opacity: .7; }
*/